{% load static %}
<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}Event Management{% endblock %}</title>
  <link href="{% static 'css/output.css' %}" rel="stylesheet" />
</head>
<body class="bg-gray-100 min-h-screen flex flex-col">

  <nav class="bg-white shadow sticky top-0 z-50">
    <div class="max-w-7xl mx-auto px-4 py-4 flex justify-between items-center">
      <div class="text-2xl font-bold text-rose-600">
        <a href="{% url 'public-home' %}">Event Management</a>
      </div>
      <div class="space-x-4 text-sm">
        {% if user.is_authenticated %}
          {% if is_admin %}
            <a href="{% url 'admin-dashboard' %}" class="hover:text-rose-600">Dashboard</a>
            <a href="{% url 'group-list' %}" class="hover:text-rose-600">Groups</a>
            <a href="{% url 'category-list' %}" class="hover:text-rose-600">Categories</a>
            <a href="{% url 'event-list' %}" class="hover:text-rose-600">Events</a>
            <a href="{% url 'user-list' %}" class="hover:text-rose-600">Users</a>

          {% elif is_organizer %}
            <a href="{% url 'organizer-dashboard' %}" class="hover:text-rose-600">Dashboard</a>
            <a href="{% url 'event-list' %}" class="hover:text-rose-600">Event</a>
            <a href="{% url 'category-list' %}" class="hover:text-rose-600">Categories</a>
            <a href="{% url 'participant-list' %}" class="hover:text-rose-600">Participants</a>

          {% elif is_participant %}
            <a href="{% url 'participant-dashboard' %}" class="hover:text-rose-600">Dashboard</a>
            <a href="{% url 'event-list' %}" class="hover:text-rose-600">All Events</a>
            <a href="{% url 'participant-participants-list' %}" class="hover:text-rose-600">Participants</a>
          {% endif %}

          <a href="{% url 'logout' %}" class="inline-block bg-rose-500 text-white px-4 py-2 rounded-full hover:bg-rose-600 transition">Logout</a>
        {% else %}
          <a href="{% url 'login' %}" class="inline-block bg-rose-600 text-white px-5 py-2 rounded-full text-md font-semibold hover:bg-rose-700 transition">Login</a>
          <a href="{% url 'signup' %}" class="inline-block ml-4 bg-white text-rose-600 border border-rose-600 px-5 py-2 rounded-full text-md font-semibold hover:bg-rose-50 transition">Sign Up</a>
        {% endif %}
      </div>
    </div>
  </nav>

  {% block content %}
  {% endblock %}

  <footer class="bg-rose-600 text-center py-4 shadow-inner mt-auto">
    <p class="text-white text-sm">© 2025 Event Management System</p>
  </footer>

</body>
</html>