{% extends "events/base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="max-w-md mx-auto mt-10 mb-7 p-6 bg-white rounded-lg shadow-md border border-rose-200">
  <h2 class="text-3xl font-semibold text-rose-600 mb-6 text-center">Change Password</h2>
  <form method="post" class="space-y-6">
    {% csrf_token %}
    {{ form.as_p }}
    <button
      id="changePasswordBtn"
      type="submit"
      class="w-full py-3 bg-rose-600 text-white font-semibold rounded-lg shadow-md hover:bg-rose-700 focus:outline-none focus:ring-2 focus:ring-rose-500 active:bg-rose-800 transition-colors"
    >
      Change Password
    </button>
  </form>
</div>
{% endblock %}